{% extends "layout.html" %} {% block content %}

<p> Products For Sale Under Construction
  <p>
<!--
    <seciton>
      <table class="table">
        <thead>
          <tr>
            <th>Catagories</th>
            <th> </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href=\electronics>Electronics<a></td>
            <td><img src="images/home_1.jpg" class="img-circle" alt="Cinque Terre" width="200" height="150"></td>
          </tr>
            <tr>
            <td><a href =\furniture>Furniture<a></td>
            <td><img src="images/home_1.jpg" class="img-circle" alt="Cinque Terre" width="200" height="150"></td>
          </tr>
        </tbody>
      </table>

      </section>
      -->

      {% endblock %}