{% extends "layout.html" %}

{% block content %}
   <div class="slideshow">  
		<ul class="slideshow">
          <li class="show"><img width="900" height="350" src="images/home_1.jpg" alt="Welcome to 4ALL" /></li>
          <li><img width="900" height="350" src="images/home_2.jpg" alt="Welcome to 4ALL" /></li>
        </ul> 
      </div><!--close slideshow-->	
<h2>Our Service</h2>
<p>Welcome to Ecom 4ALL! Our goal is to provide our user's with both a way to sell items and 
browse the items that other users have posted. This website will then conveniently connect sellers and buyers by 
allowing for fast search functionality to allow buyers to find what they want quick. Our users credentials are
protected by top of the line security protocols.</p>
{% endblock%}