{% extends "layout.html" %}

{% block content %}
   <div class="slideshow">  
		<ul class="slideshow">
          <li class="show"><img width="900" height="350" src="images/home_1.jpg" alt="&quot;Enter your caption here&quot;" /></li>
          <li><img width="900" height="350" src="images/home_2.jpg" alt="&quot;Enter your caption here&quot;" /></li>
        </ul> 
      </div><!--close slideshow-->	
<h2>Our Service</h2>
<p>We are selling facial-detection system to companies to allow for better personnel management and security for their company. Our systems will be able to detect faces as well as facial expressions along with micro-expressions. These are registred in real-time and can be used to read a person’s mood or behavior. Our product includes hardware such as cameras and sensors as well as software to register the facial and emotional recognition. We will also include the option to have access to the API of our software if needed. This allows external programs to perform certain actions based upon information received from our software, without interacting with our software UI. <p>
{% endblock%}1